*{
	box-sizing:border-box;
	background-image:url("https://i.imgur.com/t21vKLr.jpg");
}
#topbar{
	background:white;
	width:100%;
	height:65px;
	position:fixed;
	top:0px;
	left:0px;
}
#content{
	margin-top:100px;
}
#heading{
	margin-left:15%;
	background:teal;
	font-size:30px;
	padding-right:10px;
	float:left;
	margin-top:0px;
	padding-top:16px;
	padding-bottom:16px;
	height:65px;
}
#links{
	background:white;
	float:right;
	font-size:20px;
	padding-top:15px;
	padding-left:15px;
	padding-bottom:15px;
	padding-right:15px;
	margin-right:20%;
}
#linkabout{
	background:white;

}
#linkportfolio{
	background:white;

}
#linkcontant{
	background:white;

}
#aboutme{
	text-align:center;
	background:white;
	clear:both;
	margin-left:15%;
	width:40%;
	float:left;
}
#aboutmetitle{
	background:white;
	color:blue;
	text-align:left;
	padding-left:15%;
}
#blankline1{
	background:silver;
	padding-top:3px;
	width:90%;
	margin-left:5%;
}
#imageprofilepic{
	max-width:50%;
	max-height:50%;
	float:left;
}
#aboutmedesc{
	background:white;
	font-size:16px;
}

#connect{
	text-align:center;
	background:white;
	float:left;
	width:21%;
	margin-left:5%;
	padding-top:10px;
	padding-left:10px;
	padding-bottom:10px;
	padding-right:10px;

}
#connectwithme{
	background:white;
}
#blankline2{
	background:silver;
	padding-top:3px;
	width:90%;
	margin-left:5%;
}
#topbottombar{
	background:teal;
	width:100%;
	height:5px;
}
#copyright{
	background:grey;
	text-align:center;
	color:white;
	width:100%;
	height:100%;
	margin-top:1%;
	margin-bottom:1%;
}
#bottombar{
	background:grey;
	position:absolute;
	left:0%;
	top:93%;
	width:100%;
}
#githubimg{
	background:white;
	width:64px;
	height:64px;
	float:left;
	margin-left:5%;
}
#linkedinimg{
	width:64px;
	height:64px;
	float:left;
	margin-left:11%;
}
#stackimg{
	width:64px;
	height:64px;
	float:left;
	margin-left:11%;
}